.page {
    min-width: 1903px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'tc', 'Helvetica Neue', Arial, sans-serif;
    overflow: hidden;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; 
}