.title {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 1248px;
    line-height: 1.8;
    font-size: 70px;
    font-family: "tc";
    color: pink;
    margin-top: 300px;
    margin-left: 300px;
    align-self: flex-start;
}