.title__page {
    position: absolute;
    margin: 0;
    text-align: center;
    width: 1248px;
    line-height: 1.8;
    font-size: 70px;
    color: rgb(42, 78, 222);
    margin-top: 120px;
    margin-left: 300px;
    align-self: flex-start;
}