.footer {
    display: flex;
    background-color: #1f1f1f;
    min-height: 350px;
    color: white;
    background-color: black;
    background-image: url(/logo/Rastra.png);
    background-size: contain;
    background-size: 120px;
}